<div class="group-8">

    <div class="left">
        <h1 class="fw-bold blue px-3">What Readers Say About the Book</h1>
        <div class="subtitle-separator px-3 m-3"></div>

        <p class="g8-text fs-5">
            We believe that bookstores are essential to a healthy culture. They’re where authors can connect with
            readers, where we discover new writers, where children get hooked on the thrill of reading that can last a
            lifetime.
        </p>

        <div class="rating">
            <div class="d-flex ">
                <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="21" viewBox="0 0 120 21" fill="none">
                        <circle cx="110" cy="10.5" r="9.5" stroke="#FFCA42" />
                        <path
                            d="M110 20.5C108.687 20.5 107.386 20.2413 106.173 19.7388C104.96 19.2362 103.858 18.4997 102.929 17.5711C102 16.6425 101.264 15.5401 100.761 14.3268C100.259 13.1136 100 11.8132 100 10.5C100 9.18678 100.259 7.88642 100.761 6.67316C101.264 5.45991 102 4.35752 102.929 3.42893C103.858 2.50035 104.96 1.76375 106.173 1.2612C107.386 0.758657 108.687 0.499999 110 0.5L110 10.5L110 20.5Z"
                            fill="#FFCA42" />
                        <circle cx="85" cy="10.5" r="10" fill="#FFCA42" />
                        <circle cx="60" cy="10.5" r="10" fill="#FFCA42" />
                        <circle cx="35" cy="10.5" r="10" fill="#FFCA42" />
                        <circle cx="10" cy="10.5" r="10" fill="#FFCA42" />
                    </svg>
                </div>
                <p class="fs-5 ">(4.8/5)</p>
            </div>
            <p class="fs-5">Overall Customer Ratings</p>
        </div>
    </div>

    <div class="right">

        <div class="half-content">

            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img class="client" src="assets\home\ppl1.png" alt="">
                    <div class="client-info mx-3">
                        <h3>Martin Philips</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="14" viewBox="0 0 76 14" fill="none">
                            <circle cx="69.6663" cy="6.99996" r="5.83333" stroke="#FFCA42" />
                            <path
                                d="M69.6667 13.3333C68.835 13.3333 68.0114 13.1695 67.243 12.8512C66.4746 12.5329 65.7764 12.0664 65.1883 11.4783C64.6002 10.8902 64.1337 10.192 63.8154 9.42362C63.4971 8.65523 63.3333 7.83166 63.3333 6.99996C63.3333 6.16825 63.4971 5.34469 63.8154 4.5763C64.1337 3.8079 64.6002 3.10972 65.1883 2.52162C65.7764 1.93351 66.4746 1.467 67.243 1.14872C68.0114 0.830442 68.835 0.666626 69.6667 0.666626L69.6667 6.99996L69.6667 13.3333Z"
                                fill="#FFCA42" />
                            <circle cx="53.8333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="38.0003" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="22.1663" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="6.33333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                        </svg>
                    </div>
                </div>
                <div class="testimonial-highlight">
                    <h4>“ Great Books Collections ”</h4>
                </div>
                <div class="testimonial-text">
                    I was searching this book for many years and I was happy that I could find it here.
                </div>
            </div>

            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img class="client" src="assets\home\ppl2.png" alt="">
                    <div class="client-info mx-3">
                        <h3>Chris Adams</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="14" viewBox="0 0 76 14" fill="none">
                            <circle cx="69.6663" cy="6.99996" r="5.83333" stroke="#FFCA42" />
                            <circle cx="53.8333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="38.0003" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="22.1663" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="6.33333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                        </svg>
                    </div>
                </div>
                <div class="testimonial-highlight">
                    <h4>“ Perfect Response Author ”</h4>
                </div>
                <div class="testimonial-text">
                    I had a question about the book and the author response was great & comfort.
                </div>
            </div>

        </div>
        <div class="half-content">

            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img class="client" src="assets\home\ppl3.png" alt="">
                    <div class="client-info mx-3">
                        <h3>Angeline Flora</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="14" viewBox="0 0 76 14" fill="none">
                            <circle cx="69.6663" cy="6.99996" r="5.83333" stroke="#FFCA42" />
                            <path
                                d="M69.6667 13.3333C68.835 13.3333 68.0114 13.1695 67.243 12.8512C66.4746 12.5329 65.7764 12.0664 65.1883 11.4783C64.6002 10.8902 64.1337 10.192 63.8154 9.42362C63.4971 8.65523 63.3333 7.83166 63.3333 6.99996C63.3333 6.16825 63.4971 5.34469 63.8154 4.5763C64.1337 3.8079 64.6002 3.10972 65.1883 2.52162C65.7764 1.93351 66.4746 1.467 67.243 1.14872C68.0114 0.830442 68.835 0.666626 69.6667 0.666626L69.6667 6.99996L69.6667 13.3333Z"
                                fill="#FFCA42" />
                            <circle cx="53.8333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="38.0003" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="22.1663" cy="6.99996" r="6.33333" fill="#FFCA42" />
                            <circle cx="6.33333" cy="6.99996" r="6.33333" fill="#FFCA42" />
                        </svg>
                    </div>
                </div>
                <div class="testimonial-highlight">
                    <h4>“ Creative Writing Skill ”</h4>
                </div>
                <div class="testimonial-text">
                    Sent an email after to books arrived to ask about the author & I received a reply.
                </div>
            </div>

        </div>

    </div>
</div>