<div class="group group-1">

    <h1> Changelog </h1>
    <div class="subtitle-separator "></div>
    <p class="px-3 blue-gray">
        All the template changes like CSS tweaks, functionality improvements,
        layout improvements are listed here.
    </p>

</div>

<div class="content">
    <div class="card">
        <div class="title">
            <div class="circle blue bg-yellow fw-bold fs-2">V.1</div>
            <p class="p-3 grey">
                Initial Pages Webflow Template Release
            </p>
        </div>


    </div>
</div>