

.title-container {
    display: flex;
}

.round-number,
.title-text {
    font-size: 19px;
    font-weight: bold;
}

.round-number {
    width: 3rem;
    height: 3rem;
    background-color: #1b3764;
    color: #ffca42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    padding: .5rem .5rem;
    color: #1b3764;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.shipment-input {
    width: 600px;
}

@media only screen and (max-width: 600px) {
    .shipment-input {
      width: 100%;
    }
  }

.next-previous-container {
    display: flex;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .next-previous-button {
    border: 1px solid transparent;
    width: 120px;
    padding: 10px 5px;
    background-color: #ffca42;
    color: #1b3764;
    transition: all .5s ease;
  }
  
  .next-previous-button:hover {
    border: 1px solid #1b3764;
    background-color: transparent;
  }