<div class="group group-1">

    <h1> Our Store </h1>
    <div class="subtitle-separator "></div>
    <p class="blue-gray px-3">
        We believe that bookstores are essential to a healthy
        culture around readers & authors.
    </p>

</div>


<div class="store-items">

    <div class="book-container d-flex flex-wrap align-content-center justify-content-center"
        *ngFor="let book of bookList">
        <div class="book-img">
            <a routerLink="articleInfo" (click)="onClick(book.bookImg)">
                <img class="img img-thumbnail " [src]="'assets/store/' + book.bookImg + '.png'" alt="">
            </a>
        </div>
        <div class="book-info flex-wrap">
            <h3 class="book-title"> {{ book.bookTitle }}</h3>
            <h3 class="book-price">{{ book.bookPrice }}</h3>

            <p class="book-description fs-15"> {{ book.bookText }} </p>

            <div class="list-dot">
                <div class="dot"></div>
                <h4 class="blue fs-5"> {{ book.bookType }} </h4>
            </div>

            <div class="order-button2 fw-bolder">
                Order Today
            </div>

        </div>
    </div>

</div>


<app-g10></app-g10>