<div class="container-part">
    <div class="title-container">
        <div class="round-number"> 5 </div>
        <div class="title-text">Payment</div>
    </div>

</div>

<div class="container gap-5">

    <div class="left">

        <div class="cart-table">

            <table>

                <thead class="table-head-tr">
                    <tr>
                        <th>Product</th>
                        <th class="table-head">Quantity</th>
                        <th>Cost</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-body-tr" *ngFor="let item of tableItems">
                        <td>{{item.title}} </td>
                        <td class="text-center">{{item.quantity}} </td>
                        <td>${{item.price}} </td>
                    </tr>
                    <tr class="table-body-tr">
                        <td>{{ deliveryType }} </td>
                        <td> </td>
                        <td>${{ deliveryPrice }} </td>
                    </tr>

                </tbody>

            </table>

            <hr>

            <div class="fw-bold">
                Total: ${{sum | number: '1.2-2'}}
            </div>

        </div>



        <!-- <form class="voucher" #voucherForm="ngForm" (ngSubmit)="submitVoucher()">

            <span class="voucher-text">Do you have a voucher?</span>

            <mat-form-field appearance="outline" class="voucher-input">
                <mat-label>Voucher</mat-label>
                <input matInput name="voucherCode" [formControl]="voucherControl">
            </mat-form-field>
            <mat-error *ngIf="voucherControl.hasError('pattern')">
                Invalid voucher format. Please use the format: 1234-1234-1234-1234.
              </mat-error>
              <mat-error *ngIf="voucherErrorMessage">{{ voucherErrorMessage }}</mat-error>
            
            <button type="submit" class="voucher-button">Submit Voucher</button>
        </form> -->

    </div>


    <div class="right">



        <div class="card-details">

            <div class="card">
                <div class="chip"> <img class="card-chip" src="\assets\chip.png" alt=""> </div>
                <div class="card-number">
                    1234 5678 9012 3456
                </div>
                <div class="card-holder">Cardholder Name</div> <br>
                <div class="d-flex gap-5">
                    <div class="expiry-date">Expiry date</div>
                    <div class="cvv">CVV</div>
                </div>
            </div>

            <mat-form-field appearance="outline" class="card-number-input">
                <mat-label>Card Number</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="card-Name-input">
                <mat-label>Cardholder Name</mat-label>
                <input matInput>
            </mat-form-field>

            <div class="card-row d-flex">
                <mat-form-field appearance="outline" class="card-Month-input">
                    <mat-label>Month</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="card-Year-input">
                    <mat-label>Year</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="card-CVV-input">
                    <mat-label>CVV</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

        </div>
    </div>


</div>

<div class="next-previous-container">
    <button class="next-previous-button" (click)="previousStep()">Previous</button>
    <button class="next-previous-button" (click)="handlePayment()">Done</button>
</div>



