
.group-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 75px;
    margin-top: 75px;
}

.book-container {
    padding: 10px;
}

.subtitle-separator {
    width: 35px;
    height: 3px;
    background-color: #ffca42;
}

.group-2-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.group-2-text {
    font-weight: 700;
    letter-spacing: 2px;
    color: #1B3764;
}

.group-2-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.book-title {
    font-size: 32px;
    font-weight: bolder;
    color: #1B3764;
}

.book-price {
    font-family: "Cardo";
    color: #ffca42;
    font-size: 22px;
    font-weight: bolder;
}

.book-img {
    cursor: pointer;
}

.img {
    object-fit: contain;
    max-width: 250px;
    height: auto;
}

.book-description {
    margin-top: 0;
    margin-bottom: 20px;
    
    text-align: center;
    color: #969aa0;
    line-height: 1.5;
    font-weight: 400;
    max-width: 300px;
}

.order-button2 {
    border: 2px solid #FFCA42;
    background-color: transparent;
    color: #1B3764;
    display: flex;
    width: 215px;
    height: 60px;
    padding: 13px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1B3764;
    text-align: center;
    font-family: 'Cardo';
    font-size: 19px;
    letter-spacing: 0.38px;
    cursor: pointer;
}

.order-button2:hover {
    border: 2px solid #FFCA42;
    background-color: #FFCA42;
    transition: all .5s ease;
}

.yellow {
    color: #ffca42;
}

.grey {
    color: #b4c7e7; 
}

.d-grey {
    color: #969AA0;
}

.blue {
    color: #1B3764;
}

.font-19 {
    font-size: 19px;
}
