<div class="content">

    <div class="book">
        <div class="left">
            <img class="img-fluid book-img" src="assets\store\1.png" alt="">
        </div>
        <div class="right">

            <h3 class="blue">Atomic One’s - Audio</h3>
            <h2 class="yellow">$ 68.97 USD</h2>
            <p class="grey prod-description fs-5">
                The book contains ample theoretical content as well as a number of solved questions, it for sure will
                help aspirants succeed in learning and writing English proficiently.
            </p>

            <div class="list">
                <span class="blue fs-5">Book Type : </span> <span></span>
                <span class="blue fs-5">Publisher : </span> <span></span>
                <span class="blue fs-5">Language : </span><span></span>
                <span class="blue fs-5">Paperback : </span><span></span>
                <span class="blue fs-5">ISBN-10 :</span> <span></span>
                <span class="blue fs-5">Dimension :</span> <span></span>
            </div>

            <div class="buy">
                <form action="">
                    <input type="number" class="quantity">
                    <button type="" class="add fs-5 fw-bold">Add to cart</button>
                </form>
            </div>



        </div>
    </div>

    <div class="book-info">

        <div class="button-container">
            <button  (click)="showFirsttext()"> PRODUCT DESCRIPTION</button>
            <button class="bttn" (click)="showSecondtext()" > ADDITIONAL INFO</button>
        </div>

        <div class="info-text">

            <p class="grey fs-5" *ngIf="infoText" >Nowadays English language section is asked in almost all competitive and recruitment
                examinations like
                SSC, Banking, CDS, State Level PSCs, etc. Otherwise too, being proficient in English is necessary in
                this fast-modernizing world of disruptive innovation via the workplace.</p>

            <p class="grey fs-5" *ngIf="!infoText"> This book has been designed to act as a comprehensive guide to learning English Grammar & Composition.
                The present book for English Grammar is divided into Articles, Noun, Pronoun, Adverbs, Participle,
                Gerund, Preposition, Conjunctions disruptive innovation via the workplace.</p>

        </div>

    </div>

    <div class="delivery">

    </div>

</div>