<div class="g7 d-flex justify-content-center align-content-center flex-column">

    <div class="group-7-title">
        <h1 class="group-7-text blue">Enhance Knowledge & Vision</h1>
        <div class="subtitle-separator"></div>
    </div>

    <div class="g7-chapters gap-4 d-flex  flex-wrap align-content-center justify-content-center my-5">

        <div class="chapter-row d-flex gap-4 flex-wrap align-content-center justify-content-center">
            <div class="chapter">
                <h3 class="blue fw-bold d-flex flex-wrap">Chapter- 01 Get Started Intro</h3>
                <p class="fs-5 d-grey">Making this the first true value generator on the Internet. It of over 200 Latin
                    words, combined with a handful.
                </p>
                <div class="d-flex gap-5">
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Pages:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">85 pages</p>
                    </div>
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Length:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">1Hour 15mins</p>
                    </div>
                </div>
            </div>
            <div class="chapter ">
                <h3 class="blue fw-bold d-flex flex-wrap">Chapter- 02 Create a Massive Content</h3>
                <p class="fs-5 d-grey">Making this the first true value generator on the Internet. It of over 200 Latin
                    words, combined with a handful.
                </p>
                <div class="d-flex gap-5">
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Pages:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">85 pages</p>
                    </div>
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Length:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">1Hour 15mins</p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="chapter-row gap-4 d-flex  flex-wrap align-content-center justify-content-center">
            <div class="chapter ">
                <h3 class="blue fw-bold d-flex flex-wrap">Chapter-3 How They Servived</h3>
                <p class="fs-5 d-grey">Making this the first true value generator on the Internet. It of over 200 Latin
                    words, combined with a handful.
                </p>
                <div class="d-flex gap-5">
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Pages:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">85 pages</p>
                    </div>
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Length:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">1Hour 15mins</p>
                    </div>
                </div>
            </div>
            <div class="chapter ">
                <h3 class="blue fw-bold d-flex flex-wrap">Chapter- 04 The Conclusion</h3>
                <p class="fs-5 d-grey">Making this the first true value generator on the Internet. It of over 200 Latin
                    words, combined with a handful.
                </p>
                <div class="d-flex gap-5">
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Pages:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">85 pages</p>
                    </div>
                    <div class="d-flex flex-row   flex-wrap">
                        <div class="d-flex list-dot">
                            <div class="dot"></div>
                            <h4>Length:</h4>
                        </div>
                        <p class="fs-5 d-grey mx-2">1Hour 15mins</p>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="g7-footer">

        <div class="order-button4 fw-bold" [routerLink]="['/contact']">
            Start A 15-Days Free Trial
        </div>

        <p class="fs-4 d-grey button-text">
            Short description about each chapter <br>
            <span class="questions"> Have any questions?</span> Contact us
        </p>

    </div>


</div>