.payment-component,
.container,
.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.title-container {
  display: flex;
}

.round-number,
.title-text {
  font-size: 19px;
  font-weight: bold;
}

.round-number {
  width: 3rem;
  height: 3rem;
  background-color: #1b3764;
  color: #ffca42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  padding: .5rem .5rem;
  color: #1b3764;
}

.payment-component {
    width: 100vW;
    flex-direction: column;
}

.container {
    gap: 1rem;
    margin: 1rem 0 3rem 0;
}

.next-previous-container {
    display: flex;
    gap: 1rem;
}

.next-previous-button {
    border: 1px solid transparent; 
    width: 120px;
    padding: 10px 5px;
    background-color: #ffca42;
    color: #1b3764;
    transition: all .5s ease;
}

.next-previous-button:hover {
    border: 1px solid #1b3764; 
    background-color: transparent;
}

.img {
    object-fit: contain;
    max-width: 100px;
    height: auto;
    margin: .5rem 0;
}

th {
    margin-top: 5px;
    margin-bottom: 5px;
}

.payment-cart-quantity{
  width: 4rem;
  padding: .5rem;
  border: 1px solid #ffca42;
  border-radius: 5px;
}

.total-sum {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem 0;
}

.card-details {
    flex-direction: column;
    background-color: #969aa067;
    padding: 1rem;
    border-radius: 16px;
    
}

.card {
    width: 300px;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  .card-chip {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .card-number {
    font-size: 18px;
    margin-top: 40px;
  }

  .card-holder {
    font-size: 14px;
    margin-top: 10px;
  }

  .expiry-date,
  .cvv {
    font-size: 14px;
    margin-top: 10px;
  }

  .card-number-input,
  .card-Name-input {
    width: 100%;
  }

  .card-row {
    gap: .5rem;
  }

  .card-Month-input,
  .card-Year-input,
  .card-CVV-input {
    width: 95px;
  }