<div class="group-5 d-flex flex-wrap">

    <div class="left g5-left">
        <h1 class="text-white ">Get Book Copy Today!</h1>
        <div class="subtitle-separator my-3"></div>
        <p class="g5-p fs-5">We believe that bookstores are essential to a healthy culture. <br> They’re where authors
            can connect with readers.</p>
        <div class="order-button3 fw-bolder" [routerLink]="['/store']">
            Order Today
        </div>
    </div>
    <div class="g5-right">
        <img class="g5-img" src="assets\home\coffee.png" alt="">
    </div>

</div>