.payment-component,
.container,
.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.payment-component {
    
    flex-direction: column;
}

.container {
    gap: 1rem;
    margin: 1rem 0 3rem 0;
}

.next-previous-container {
    display: flex;
    gap: 1rem;
}

.next-previous-button {
    border: 1px solid transparent; 
    width: 120px;
    padding: 10px 5px;
    background-color: #ffca42;
    color: #1b3764;
    transition: all .5s ease;
}

.next-previous-button:hover {
    border: 1px solid #1b3764; 
    background-color: transparent;
}
