<div class="payment-component">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="selectedTabIndex">
        <mat-tab label="Cart" disabled>
            <div class="container">
                <div class="card-review">
                    <app-cart-review (next)="onNext($event)"></app-cart-review>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Shipping Address" disabled>
            <div class="container">
                <app-shipping-address (next)="onNext($event)" (previous)="onPrevious($event)"></app-shipping-address>
            </div>
        </mat-tab>
        <mat-tab label="Payment" disabled>
            <div class="container">
                <app-card (previous)="onPrevious($event)"></app-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>