<div class="payment-component">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="selectedTabIndex">
        <mat-tab label="1">

            <div class="container">
                <div class="card-review">
                    <app-cart-review></app-cart-review>


                </div>

                <div class="next-previous-container">
                    <button class="next-previous-button" (click)="nextStep()">
                        Next
                    </button>
                </div>
            </div>


        </mat-tab>
        <mat-tab label="2">

            <div class="container">

                <app-shipping-address></app-shipping-address>

                <div class="next-previous-container">

                    <button class="next-previous-button" (click)="previousStep()">
                        Previous
                    </button>
                    <button class="next-previous-button" (click)="nextStep()">
                        Next
                    </button>


                </div>

            </div>

        </mat-tab>

        <mat-tab label="3">
            <div class="container">

                <app-card></app-card>

                <div class="next-previous-container">

                    <button class="next-previous-button" (click)="previousStep()">
                        Previous
                    </button>
                    <button class="next-previous-button" (click)="nextStep()">
                        Done
                    </button>

                </div>

            </div>

        </mat-tab>

    </mat-tab-group>


</div>