<div class="group-10">

    <div class="updates">

        <h2 class="fw-bold">Get The Best Updates</h2>
        <div class="subtitle-separator my-4"></div>
        <div class="text">Subscribe with your mail id to know the current update in book
            edition at your fingertip with in a minute.
        </div>
        <form class="my-4" action="">
            <div class="form">
                <input class="input" type="email" placeholder="Email Address">
                <button class="subscribe" (click)="openSnackBar()">Subscribe</button>

            </div>
        </form>
    </div>

</div>