.group-10,
.updates {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #1B3764;
    transform: all .5s ease;
}

.group-10 {
    padding: 75px 0;
}

.updates {
    background-color: #ffca42;
    width: 90%;
    padding: 1rem;
    height: 490px;

}

.subtitle-separator {
    width: 35px;
    height: 3px;
    background-color: #1B3764;
}

.text {
    font-size: 19px;
    max-width: 600px;
}

.form {
    width: 900px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.input {
    width: 500px;
    padding: 20px 30px;
    border: 0px solid transparent;
}

.subscribe {
    display: flex;
    padding: 20px 46px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #1B3764;
    color: white;
    font-weight: bold;
    border: 2px solid #1B3764;
}

.subscribe:hover {
    background-color: transparent;
    color: #1B3764;
    transition: all .5s ease;
}

.err-mail {
    padding: .5rem;
    color: red;
    font-weight: bold;
}


@media only screen and (max-width: 800px) {

    .updates {
        padding-top: 2rem;
        
    }

    .form {
        flex-direction: column;
        width: auto;
    }

    .input {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .input {
        width: 200px;
        padding: 20px 30px;
        flex-shrink: 0;
        border: 0px solid transparent;
    }

    .updates {
        height: auto;
    }

    .form {
        flex-direction: column;
        width: auto;
    }

    .input {
        width: 100%;
    }
}

.yellow {
    color: #ffca42;
}

.grey {
    color: #b4c7e7;
}

.d-grey {
    color: #969AA0;
}

.blue {
    color: #1B3764;
}