<div class="group-1  d-flex align-content-center justify-content-center flex-wrap">

    <div class="left">
      <h5 class="hero-welcome">
        <div class="subtitle-separator"></div>
        Welcome To Pages!!!
      </h5>
      <h1 class="hero-h1">
        Your Books From <br>
        The Best Writer.
      </h1>
      <p class="hero-p">We believe that reading books are essential to a healthy culture. <br>
        They’re where authors can connect with readers.</p>
      <div class="buttons d-flex align-content-center justify-content-center flex-wrap">
        <div class="order-button">
          Order Today
        </div>
        <div class="demo-button">
          Read Free Demo
        </div>
      </div>

      <div class="hero-list flex-wrap">

        <div class="list-element">
          <div class="list-dot">
            <div class="dot"></div>
            <h4>Pages:</h4>
          </div>
          <div class="list-details">
            <p class="hero-list-text">250 Pages</p>
          </div>
        </div>

        <div class="list-element">
          <div class="list-dot">
            <div class="dot"></div>
            <h4>Length:</h4>
          </div>
          <div class="list-details">
            <p class="hero-list-text">10 Hours</p>
          </div>
        </div>

        <div class="list-element">
          <div class="list-dot">
            <div class="dot"></div>
            <h4>Rating:</h4>
          </div>
          <div class="list-details">
            <p class="hero-list-text">4.5/5 (305 ratings)</p>
          </div>
        </div>
      </div> 
    </div>
  
    <div class="right ">
      <img class="g1-img" src="assets\home\theDarkLight.png" alt="">
    </div>
  
  </div>
  