<!-- Group 3 -->

<div class="group-3 flex-wrap">
    <div class="left">
        <div class="group-3-img-border">
            <img class="group-3-img" src="assets\home\group2Author.png" alt="">
        </div>
    </div>

    <div class="right d-flex flex-column  flex-wrap">

        <h1 class="fw-bold blue px-3">About The Author</h1>
        <div class="subtitle-separator px-3"></div>
        <p class="author-text group-3-text p-3 ">
            We believe that bookstores are essential to a healthy culture.
            They’re where authors can connect with
            readers, where we discover new writers, where children get hooked on the thrill of reading that can last
            a lifetime.</p>

        <div class="author-info px-3">
            <div class="p-2">
                <div class="fw-bolder fs-1">02</div>
                <p class="group-3-text">Books Published</p>
            </div>
            <div class="vertical-line"></div>
            <div class="p-2">
                <div class="fw-bolder fs-1">4.5</div>
                <p class="group-3-text">User Reviews</p>
            </div>
            <div class="vertical-line"></div>
            <div class="p-2">
                <div class="fw-bolder fs-1">04</div>
                <p class="group-3-text">Best Seller Awards</p>
            </div>
        </div>

        <div class="qr my-3 ">
            <img class="img-qr" src="assets\home\qr.png" alt="">
            <div class="qr-text ">
                <div class="name yellow">
                    <h3>John Abraham , Ph.d</h3>
                </div>
                <div class="auth-contact grey">
                    <p>Mail : johnabraham@gmail.com <br>
                        Phone : (+2) 123 545 9000</p>
                </div>
            </div>
        </div>


    </div>
</div>