<!-- group 4 -->

<div class="group-4 ">
    <div class="group-4-title">
        <h1 class="group-4-text blue">Trusted By The Best</h1>
        <div class="subtitle-separator my-3"></div>
    </div>

    <div class="trusted-list d-flex text-center flex-wrap align-content-center justify-content-center">

        <div class="trusted-element ">
            <img class="qroup-4-img" src="assets\home\g4\1.png" alt="">
            <h3 class="blue fw-bold">Amazen Corp.</h3>
            <p class="g4-p fs-5">They has been helping readers, music lovers, and videophiles find quality material.
            </p>
        </div>
        <div class="trusted-element ">
            <img class="qroup-4-img" src="assets\home\g4\2.png" alt="">
            <h3 class="blue fw-bold">Megan Books</h3>
            <p class="g4-p fs-5">We help physical bookstores manage their overstock to the book inventory.</p>
        </div>
        <div class="trusted-element ">
            <img class="qroup-4-img" src="assets\home\g4\3.png" alt="">
            <h3 class="blue fw-bold">Megank</h3>
            <p class="g4-p fs-5">Bookstore serving up the full spectrum of Black literature and wine black books.
            </p>
        </div>
        <div class="trusted-element ">
            <img class="qroup-4-img" src="assets\home\g4\4.png" alt="">
            <h3 class="blue fw-bold">Urban Store</h3>
            <p class="g4-p fs-5">We also carry the latest records, issues of all of your favorite comic books.</p>
        </div>

    </div>
</div>